/*COLORS*/
.orange{
  color:#ff8533;
}

.green{
  color:green;
}

.red{
  color:red;
}

.gray{
  color: gray;
}

.cyan{
  color:cyan;
}
.light-blue, h3.light-blue{
  color: #4285F4;
}

/*POSITIONING*/
p.left-align{
  text-align: left;
}

p.right-align{
  text-align: left;
}

section.relative{
  position: relative;
}


/*PADDING & MARGIN*/
h3.zero{
  padding: 0;
  margin: 0;
}

p.zero{
  padding: 0;
  margin: 0;
}

/*FONT*/
p.smaller, li.smaller, ul.smaller, code.smaller{
  font-size: smaller;
}

p.larger{
  font-size: larger;
}

section.center-lists{
  ul{
    text-align: center;
  }
}


/*WIDTH & HEIGHT*/


code.height-50{
  min-height: 50vh;
}

code.zero{
  line-height: 110%;
}

.width-smaller{
  width: 75%;
}

/*CUSTOM*/
div.box{
  border: 1px red solid;

  &.s-13{
    width: 25px;
    height: 30px;
    position: absolute;
    top: 320px;
    left: 303px;
    border: dash;
  }
}

div.slide-9{
  width: 38vw;
  position: absolute;
  top: 60%;
  left: 36%;
  pre{
    code{
      border: solid 1px red;
    }
  }
}

div.slide-10{
  width: 50%;
  position: absolute;
  top:-5%;
  left: 65%;
  pre{
    box-shadow: none;
    code{
      font-size: smaller;
      border: solid 1px red;
      opacity: 0.9;
      background-color: black;
    }
  }
}

div.slide-13{
  width: 60%;
  position: absolute;
  top:15%;
  left: 60%;
  pre{
    box-shadow: none;
    code{
      font-size: smaller;
      border: solid 1px red;
      opacity: 0.9;
      background-color: black;
    }
  }
}

div.slide-16{
  position: absolute;
  top: 30%;
  right: -25%;
}
